.master {
    width: 100%;
    position: relative;
    top: 170px;
    
    &-carousel {
        &-indicators {
            bottom: -50px;
            z-index: 2;
            & li {
                width: 15px;
                height: 15px;
                border: 1px solid  #371030;
                border-radius: 50%;
                margin: 0 10px;
                
            }
            & .active {
                background-color:  #371030;;
            }
        }
        &-item {
            width: 100%;
            height: 530px;
            display: flex;
            flex-direction: row;
            &__content {
                width: 50%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background: rgba(224, 216, 216, 0.8);
                padding: 0 105px 0 133px;
                &-title {
                    font-weight: 900;
                    font-size: 30px;
                    line-height: 37px;
                    letter-spacing: 0.04em; 
                    color: #371030;
                    margin-bottom: 30px;
                }
                &-text {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    letter-spacing: 0.04em;
                    color: #371030;
                }
            }
            &__img {
                width: 50%;
                height: 100%;
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

        }
    }
}


